@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.container {
  max-width: 1170px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.product-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-view {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
  padding: 3px 20px;
  background: whitesmoke;
}

.card {
  width: 300px;
  padding: 30px;
  background: whitesmoke;
  border-radius: 2%;
  margin-top: 20px;
  box-shadow: 0 10px 10px #b7b7b7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-product-image {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.card-product-view img {
  width: 100px;
}

.card-product-price {
  color:tomato;
}

.card-title {
  text-transform: uppercase;
  color: #444;
  width: 100%;
}

.card-color1 {
  width: 100%;
  text-align: center;
}

.card-title-view h2 {
  text-transform: uppercase;
  color:#444;
  font-size: 20px;
  width: 100%;
}

.card-title,
.card-color {
  text-align: center;
  color: #444;
}

.card-price-and-button{
color: tomato;
display: flex;
justify-content: space-between;
align-items: center;
box-sizing: border-box;
}

.card-product-price {
  padding-right: 100px;
}

.addto-card {
  border: 3px solid tomato;
  padding: 10px 25px;
  border-radius: 20px;
  cursor: pointer;
  color: tomato;
  text-transform: uppercase;
  font-weight: bold;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
}
